{% include 'polls/menu.html' %}
    <!-- -------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------- -->
    <div class="w3-main" style="margin-left:250px">

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <h1 class="w3-text-teal">Current spendings</h1>
                 {% if person_list %}
                <ul>
                    {% for person in person_list %}
                    <li>
                        <a href="{% url 'polls:person_detail' person.id %}">{{ person.name }}</a> -- Net: {{person.net_spendings}} -- Overall: {{person.spendings}}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </div>
            
        </div>
    <!-- -------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------- -->
     {% include 'polls/footer.html' %}